body {
    background-color: steelblue;
}
a{
    color: black;
    padding: 25px;
    font-size: 20px;
}
#active {
    background-color: beige;
}
h1 {
    text-align: center;
}

img {
    width: 300px;
    
}

.grey {
background-color: grey;
}

.white {
    background-color: white;
}